{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}

{% block breadcrumbs %}
       <div class="container">
        <ul class="breadcrumb">
            <li class="active">Home</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Welcome {% if user.is_authenticated %}
        {{ user.first_name }} {{ user.last_name }}{% endif %}{% endblock %}
{% block content %}


    <div class="hero-unit">

        <div class="container-fluid">
                <p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'accounts:manage_account' %}"
                            class="btn btn-primary btn-large">
                            <i class="fa fa-lock fa-lg"></i>  Manage Your Account</a>

                    {% else %}
                        <div class="col-lg-12">
                            <h4>Login to your account</h4>
                            <a href="{% url "accounts:sms_code" %}?next=/">
                                <i class="fa fa-unlock fa-2x" style="color:green"></i>
                                <input type="button"
                                        class="active btn btn-large btn-success"
                                        value="{% trans "Login " %}"/></a>

                        </div>
                    {% endif %}

                </p>
            <div class="col-md-8">
                <p>
                    BlueButton 2.0 enables Medicare Beneficiaries to connect
                    their data to the applications, services and research
                    programs they trust.
                    </p>
                <p>
                    As a developer you are building the next generation of
                    applications that will enable our Medicare Beneficiaries
                    to put their data to good use. For their better health,
                    or to help others.
                </p>
                <p>
                    By registering here and passing the validation checks you
                    will be able to create OAuth2.0 keys that you can add to
                    your web site or mobile app.
                </p>
                <p>
                    With these OAuth keys in place you can prompt your users,
                    who are Medicare beneficiaries, to connect to CMS and give
                    your application permissions to download information on
                    their behalf using HL7 FHIR protocols.
                </p>

            </div>

            <div class="col-md-4"><img
                    src="{% static 'img/layout/blue-button.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>


{% endblock %}
